@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

*{
    font-family:'Ropa Sans', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container>section{
    margin-top: 15%;
    color: #009991;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 15px;
}