@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
.appBackground{
    min-width: 990px;
    max-width: 990px;
    width: 990px;
    height: 630px;
    min-height: 630px;
    background-color: #009991;
    margin-left: 20%;
    margin-top: 5%;
    display: flex;
    align-items: center;
}